{% extends "layout.html.twig" %}

{% block title %}

    Accueil

{% endblock %}

{% block content %}

    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Bienvenue sur INEED</h1>
                <p class="tagline">site de mise en relation qui facilite l'entraide et l'échange de services entre particuliers.</p>
                <p><a class="btn btn-default btn-lg" role="button">INFO</a> <a class="btn btn-action btn-lg" role="button">ANNONCES</a></p>
            </div>
        </div>
    </header>
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">
            Faites des économies et des rencontres amicales</h2>
        <p class="text-muted">
            grâce à l'entraide et à l'échange de services gratuits entre particuliers habitant près de chez vous.
        </p>
    </div>
    <div class="jumbotron top-space">
        <div class="container">
            <h3 class="text-center thin">L'échange de services expliqué en 3 étapes</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>CRendez un service et créditez votre compteur de temps</h4></div>
                    <div class="h-body text-center">
                        <p>Créditez votre compteur temps en répondant aux demandes d'autres Yakasaideur et en leur rendant service</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>
                            Inscrivez-vous et renseignez quelques informations</h4></div>
                    <div class="h-body text-center">
                        <p>
                            Pour permettre aux autres membres de vous demander un coup de main il faut indiquer la zone sur laquelle vous pouvez rendre service,
                            ce que vous pouvez faire et n'oubliez pas d'ajouter une photo, ça rassure et ça vous permettra d'aider plus ! </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Demandez des services à d'autres Utilisateurs</h4></div>
                    <div class="h-body text-center">
                        <p>A votre tour de demander des services aux autres utilisateurs ! Voilà c'est très simple, c'est ça l'échange de services! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
