<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+ 33 0643563213<br>
                            <a href="mailto:#">.@Gmail.com</a><br>
                            <br>
                            17 Rue Albert Thomas, 78130 Les Mureaux
                        </p>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Suivez-nous</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <h3 class="widget-title">Conseils</h3>
                    <div class="widget-body">
                        <h4>AVANT D'ÉCHANGER DES SERVICES :</h4>
                        <p>Renseignez votre profil.
                            Plus votre profil sera complet (notamment avec votre photo) et plus vous donnerez confiance afin qu'on puisse faire appel à vos services.

                            Soyez le plus précis possible sur les services que vous proposez en mentionnant votre niveau de compétences (exemple pour un service concernant l'électricité : je peux changer une ampoule, ou bien je peux intervenir sur toutes installations électriques).

                            Vous devez renseigner la ou les villes autour desquelles vous pourrez intervenir (avec un rayon d'intervention autour de chaque ville). Lorsqu'un membre recherche un autre membre pour un service, la recherche est réalisée grâce à cette information. C'est pourquoi il est très important de renseigner cette information afin d'apparaître lors des recherches.

                            Soyez réaliste sur votre rayon d'intervention. Par défaut et par soucis de simplicité, les frais de déplacements sont à la charge de celui qui rend service.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Accueil</a> |
                            <a href="about.html">Annonces</a> |
                            <a href="sidebar-right.html">Categories</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">Inscription</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            © Copyright 2014. Tous droits réservés.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>