<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+ 33 0643563213<br>
                            <a href="mailto:#">.@Gmail.com</a><br>
                            <br>
                            17 Rue Albert Thomas, 78130 Les Mureaux
                        </p>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Suivez-nous</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                            <a href=""><i class="fa fa-github fa-2"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <h3 class="widget-title">
                        Recevoir nos conseils et bonnes pratique une fois pas mois dans votre boite mail
                    </h3>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email avec qui que ce soit.</small>
                    </div>
                    <div class="widget-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="{{ path('home') }}">Accueil</a> |
                            <a href="{{ path('annonce_new') }}">Annonces</a> |
                            <a href="{{ path('page_contact') }}">Contact</a> |
                            <b><a href="{{ path('membre_inscription') }}">Inscription</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            © Copyright 2019. Tous droits réservés.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>